[submodule "BY-YEARS/24-25/WINTER/computer-graphics/terrain-rendering-from-SRTM-data"]
	path = BY-YEARS/24-25/WINTER/computer-graphics/terrain-rendering-from-SRTM-data
	url = https://github.com/Githubkindafun/Terrain-rendering-from-SRTM-data.git
